<!-- start footer  -->
<footer>
    <div class="container">
        <div class="footerLinks"></div>
        <div class="contact">
            <div class="cont"> <div class="f" style="background-image: url('/images/facebook.svg');  background-color: white;"></div></div>
            <div class="cont"><div class="ins" style="background-image: url('/images/instagram.svg'); background-color: white;"></div></div>
            <div class="cont"><div class="tw" style="background-image: url('/images/twitter.svg'); background-color: white;"></div></div>
            <div class="cont"><div class="tlg" style="background-image: url('/images/telegram.svg'); background-color: white;"></div></div>
        </div>
    </div>
    <div class="copyright">
        <div class="logo" style="width : 100%;">
            <img src="/images/logo.png" alt="" width="55px" height="55px">
        </div>
        <p style="width : 100%;">Copyright © 2022 JustSew</p>
    </div>
</footer>
<!-- end footer  -->