<header>
    <div class="container">
        <div class="menu">
            <div class="logo">Logo</div>
            <div class="search">
                <div class="searchInput">
                    <button class="but"> <img src="/images/search_black_24dp.svg" alt="" style="padding-right: 5px;"></button>
                    <input type="text" placeholder="Search ...">
                </div>
            </div>
            <div class="icons">
                <div class="user">
                    <button class="but"><img src="/images/user.png" alt="" width="30px" height="30px"></button>
                </div>
                <div class="wishlist">
                    <button class="but"><img src="/images/heart.svg" alt="" width="30px" height="30px"></button>
                </div>
                <div class="cart">
                    <button class="but"><img src="/images/cart.svg" alt="" width="40px" height="40px"></button>
                </div>
            </div>
            <div class="menuicon" style="display: none;">
                <img src="/images/menu.svg" alt="" width="40px" height="40px">
            </div>
        </div>
        <div class="submenu">
            <ul>
                <li> <a href="#">Sewing Patterns</a></li>
                <li> <a href="#">Categories</a></li>
                <li> <a href="#">About</a></li>
                <li> <a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
    <div class="side">
        <div>
        <button class="close">
            <img src="/images/close_black_24dp.svg" alt="close">
        </div>
        <div class="bt">
            <button class="login">Se Connecter</button>
        </div>
        <ul class="sideMenu">
            <li> <a href="#">Sewing Patterns</a></li>
            <li> <a href="#">Categories</a></li>
            <li> <a href="#">About</a></li>
            <li> <a href="#">Contact</a></li>
        </ul>
    </div>
</header>