<!-- start landing -->
<div class="landing">
    <div class="text">
        <h2>All you need is</h2>
        <h1>JUST SEW</h1>
        <p>Explore all our patterns and create your own costumes</p>
    </div>
</div>
<!-- end landing -->
<!-- start products  -->
<div class="products">
    <div class="container">
        <div class="box">
                <div class="prodPic"><a href="https://placeholder.com"></a><img src= "https://via.placeholder.com/300x400" alt=""></div> 
                <div class="proddet">
                    <h3 class="prodName">name</h3>
                <div class="avis">
                    <div class="evaluation" style="display: inline;">
                        <img src="/images/star.svg" alt="" width="30px" height="30px">
                        <img src="/images/star.svg" alt="" width="30px" height="30px">
                        <img src="/images/star.svg" alt="" width="30px" height="30px">
                        <img src="/images/star.svg" alt="" width="30px" height="30px">
                        <img src="/images/star.svg" alt="" width="30px" height="30px">
                    </div>
                    <span class="views">(0)</span>
                </div>
                <h4>$12.99</h4>
                </div>
        </div>
        <div class="box">
            <div class="prodPic"><a href="https://placeholder.com"></a><img src= "https://via.placeholder.com/300x400" alt=""></div> 
            <div class="proddet">
                <h3 class="prodName">name</h3>
            <div class="avis">
                <div class="evaluation" style="display: inline;">
                    <img src="/images/star.svg" alt="" width="30px" height="30px">
                    <img src="/images/star.svg" alt="" width="30px" height="30px">
                    <img src="/images/star.svg" alt="" width="30px" height="30px">
                    <img src="/images/star.svg" alt="" width="30px" height="30px">
                    <img src="/images/star.svg" alt="" width="30px" height="30px">
                </div>
                <span class="views">(0)</span>
            </div>
            <h4>$12.99</h4>
            </div>
    </div>
            <div class="box">
                <div class="prodPic"><a href="https://placeholder.com"></a><img src= "https://via.placeholder.com/300x400" alt=""></div> 
                <div class="proddet">
                    <h3 class="prodName">name</h3>
                <div class="avis">
                    <div class="evaluation" style="display: inline;">
                        <img src="/images/star.svg" alt="" width="30px" height="30px">
                        <img src="/images/star.svg" alt="" width="30px" height="30px">
                        <img src="/images/star.svg" alt="" width="30px" height="30px">
                        <img src="/images/star.svg" alt="" width="30px" height="30px">
                        <img src="/images/star.svg" alt="" width="30px" height="30px">
                    </div>
                    <span class="views">(0)</span>
                </div>
                <h4>$12.99</h4>
                </div>
        </div>
            <div class="box">
                <div class="prodPic"><a href="https://placeholder.com"></a><img src= "https://via.placeholder.com/300x400" alt=""></div> 
                <div class="proddet">
                    <h3 class="prodName">name</h3>
                <div class="avis">
                    <div class="evaluation" style="display: inline;">
                        <img src="/images/star.svg" alt="" width="30px" height="30px">
                        <img src="/images/star.svg" alt="" width="30px" height="30px">
                        <img src="/images/star.svg" alt="" width="30px" height="30px">
                        <img src="/images/star.svg" alt="" width="30px" height="30px">
                        <img src="/images/star.svg" alt="" width="30px" height="30px">
                    </div>
                    <span class="views">(0)</span>
                </div>
                <h4>$12.99</h4>
                </div>
        </div>
        <div class="box">
            <div class="prodPic"><a href="https://placeholder.com"></a><img src= "https://via.placeholder.com/300x400" alt=""></div> 
            <div class="proddet">
                <h3 class="prodName">name</h3>
            <div class="avis">
                <div class="evaluation" style="display: inline;">
                    <img src="/images/star.svg" alt="" width="30px" height="30px">
                    <img src="/images/star.svg" alt="" width="30px" height="30px">
                    <img src="/images/star.svg" alt="" width="30px" height="30px">
                    <img src="/images/star.svg" alt="" width="30px" height="30px">
                    <img src="/images/star.svg" alt="" width="30px" height="30px">
                </div>
                <span class="views">(0)</span>
            </div>
            <h4>$12.99</h4>
            </div>
    </div>
    <div class="box">
        <div class="prodPic"><a href="https://placeholder.com"></a><img src= "https://via.placeholder.com/300x400" alt=""></div> 
        <div class="proddet">
            <h3 class="prodName">name</h3>
        <div class="avis">
            <div class="evaluation" style="display: inline;">
                <img src="/images/star.svg" alt="" width="30px" height="30px">
                <img src="/images/star.svg" alt="" width="30px" height="30px">
                <img src="/images/star.svg" alt="" width="30px" height="30px">
                <img src="/images/star.svg" alt="" width="30px" height="30px">
                <img src="/images/star.svg" alt="" width="30px" height="30px">
            </div>
            <span class="views">(0)</span>
        </div>
        <h4>$12.99</h4>
        </div>
</div>
    </div>
</div>
<!-- end products  -->
<!-- start footer  -->
<footer>
    <div class="container">
        <div class="footerLinks"></div>
        <div class="contact">
            <div class="cont"> <div class="f" style="background-image: url('/images/facebook.svg'); width: 30px; height: 30px; background-color: white;"></div></div>
            <div class="cont"><div class="ins" style="background-image: url('/images/instagram (2).svg'); width: 30px; height: 30px; background-color: white;"></div></div>
            <div class="cont"><div class="tw" style="background-image: url('/images/twitter.svg'); width: 30px; height: 30px; background-color: white;"></div></div>
            <div class="cont"><div class="tlg" style="background-image: url('/images/telegram.svg'); width: 30px; height: 30px; background-color: white;"></div></div>
        </div>
    </div>
</footer>
<!-- end footer  -->