/* globale values  */
:root {
    --main-color: #A1CAF1;   
    --hovering:#7db1e1;
    --leftr : 85%
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Work Sans', sans-serif;
    margin: 0;
    background-color: #efebeb7d;
}
.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
    padding-right: 15px;

}
/* small  */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
/* medium  */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
/* large  */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
.but {
    padding: 0; 
    border: none; 
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.active {
    color: var(--main-color) !important;
}
/* globale values  */
/* start header  */
header {
    padding-top: 20px;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 30;
}
header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-height: 500px;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.search {
    position: relative;
    height: 46px !important;
    width: 30%;
}
.search .searchInput {
    display: flex;
    align-items: center;
    width: 140%;
    height: 100%;
    border: 0.5px solid black;
    padding: 5px 10px;
    border-radius: 0.25rem;
    flex-wrap: wrap;
}
.menu .searchInput input {
    border: none;
    width: 85%;
    height: 19px;
    margin: 0;
    padding: 0;
}
.menu .searchInput input:focus-visible {
    outline: none;
}
.searchInput form {
    display: flex;
    align-items: center;
    height:24px !important;
    width: 100%;
    border: transparent;

    padding: 5px;
}

.search .result {
    display: none;
    position: absolute;
    width: 140%;
    height: fit-content;
    padding: 5px 10px;
    border: 1px solid black;
    background-color: white;
    margin-top: -2px;
    border-top: transparent;
    z-index: 2;
}
.submenu {
    width: 100%;
    display: flex;
    justify-content: center;
}
.submenu ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 10px 0 0;
    padding-left: 40px;
}
.submenu ul li {
    margin-right: 25px;
    display: flex;
    height: 42px;
}
.submenu ul a {
    text-decoration: none;
    color: black;
}
header ul li:hover .subA{
    color: #82b1d6
}
.categ li:last-child:hover .subcateg,
.submenu ul li#categorie:hover .categ {
    display: flex !important;
}
.submenu ul li#categorie,
.categ li:last-child{
    position: relative;
}
.submenu ul li#categorie .categ {
    position: absolute;
    top: 32px;
    left: -15px;
    color: #000 !important;
    background-color: white;
    height: auto;
    width: 140px;

}
.side ul li {
    position: relative;
}
#sidecateg:hover .categ {
    display: block;
}
.side ul li .categ {
    display: none;
    position: absolute;
    top: 0;
    left: -140px;
    color: #000 !important;
    background-color: white;
    height: auto;
    width: 140px;

}
.submenu ul li#categorie .categ li:hover {
    background-color: #efefef;
}

.subcateg {
    display: none !important;
    position: absolute;
    top: -10px;
    left: 100%;
    background-color: #fff;
    padding: 0;
    flex-direction: column;
    width: 120px;
}
.subcateg:hover a{
    color: black;
}
.submenu ul li#categorie .categ {
    display: none;
    flex-wrap: wrap;
    padding: 0px;
}
.submenu ul li#categorie .categ li {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    margin: 0;
    height: 50px;
}

header .icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* width: 30%;: */
}
header .icons .user {
    position: relative;
}
header .icons .userAccount {
    border: 1px solid var(--main-color);
    position: absolute;
    background-color: #fefefe;
    padding: 25px;
    right: 0px;
    height: 150px;
    box-shadow: 0 0 5px rgb(0 0 0/ 25%);
    width: 350px;
    z-index: 1;
}
header .icons .userAccount::before {
    content: "";
    position: absolute;
    top: -14px;
    right: 17px;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-color: #fefefe;
    z-index: 1;
}
header .icons .userAccount .logout {
    height: 40px;
    width: 150px;
    margin-top: 10px;
    border:1px solid black;
    border-radius: 0.25rem;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
}
header .icons .userAccount .logout:hover {
    background-color: var(--hovering);
    transition-duration: .3s;
}
header .icons .but {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
header .icons .but:hover {
    background-color: #efefef;
}
header .shoppingCart2 .items
header .shoppingCart .items {
    display: flex;
    justify-content: center;
}
header .shoppingCart2,
header .shoppingCart {
    display: none;
    align-items: center;
    position: absolute;
    background-color: #fefefe;
    padding: 25px;
    right: 0px;
    min-height: 100px;
    max-height: 550px;
    overflow: auto;
    box-shadow: 0 0 5px rgb(0 0 0/ 25%);
    min-width: 350px;
    z-index: 1;
}
header .shoppingCart::before ,
header .shoppingCart2::before {
    content: "";
    position: absolute;
    top: -14px;
    right: 20px;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-color: #fefefe;
    z-index: 1;
}
.search input::placeholder {
    font-size: 12px;
    color: #aaa;
}
header .whishlist {
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    margin-left: -500px;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 500px;
    min-height: 100vh;
    max-height: 100vh;
    overflow: auto;
    z-index: 6;
    background-color: white;
    border-right: 1px solid black;
    margin-top: 0;
    transition-duration: .5s;
    
    
}
header .whishlist .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
header .whishlist .head .close {
    display: block;
    position: absolute !important;
    top: 5% !important;
    right: 2% !important;
    font-size: 25px;
    cursor: pointer;
}
header .whishlist .head .close img {
    width: 35px;
    height: 35px;
}
header .whishlist .whishcontent {
    /* width: 100%; */
    color: #aaa;
    text-align: center;
}
header .side {
    padding-top: 20px;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    margin-right: -300px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 300px;
    height: 100%;
    z-index: 6;
    background-color: white;
    border-left: 1px solid black;
    margin-top: 0;
    transition-duration: .5s;
} 
.side .user p{
    display: flex;
    align-items: center;
    margin-top: 47px;
    gap: 10px;
    margin-left: 10px;
}
.side .user p img {
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
    width: 40px;
    height: 40px;
}
.side .user p::after {
    content: "";
    position: absolute;
    top: 118px;
    right: 0%;
    height: 1px;
    width: 300px;
    background-color: #00000057;
}
header .side ul {
    list-style: none; 
    margin:0;
    padding: 0;
    width: 100%;
}
header .side li {
    /* margin: 20px 0; */
    vertical-align: middle;
    line-height: 58.5px;
    height: 58.5px;
    padding-left: 20px;
    transition-duration: .3s;
}
.side .active,
header .side li:hover {
    padding-left: 40px ;
    transition-duration: .3s;
    background-color:hsl(0, 0%, 94%) ;
}
.side .active a {
    color: var(--main-color) !important;
}
/* header .side li:hover .active {
    padding-left: 40px ;
    transition-duration: .3s;
    background-color:#efefef ;

} */
header .side li a {
    display: block;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
}
header .side li:hover a {
    color: var(--hovering);
}
header .side button,
header .whishlist button {
    border: transparent;
    background-color: white ;
}
header .side .close {
    display: block;
    position: absolute !important;
    top: 3% !important;
    right: 2% !important;
    font-size: 25px;
    cursor: pointer;
}
header .side .close::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -19%;
    height: 1px;
    width: 300px;
    background-color: #00000057;
}
.sider {
    display: flex !important;
    justify-content: space-evenly !important;
    margin: 5px auto 10px; 
    width: 100%;
}
.sider::after {
    content: "";
    position: absolute;
    top: 186px;
    right: 0%;
    height: 1px;
    width: 300px;
    background-color: #00000057;
}
header .side .sideMenu  {
    border-bottom: 1px solid #00000057;
    width: 100%;
}
header .side .bt {
    border-bottom: 1px solid #00000057;
    width: 100%;

}
header .side .login,
header .side .logout {
    height: 40px;
    width: 150px;
    margin: 50px auto 20px calc(50% - 75px);
    border:1px solid black;
    border-radius: 0.25rem;
    background-color: var(--main-color);
    color: white;
}
header .login:hover,
header .side .logout:hover {
    background-color: var(--hovering);
    transition-duration: .3s;
}
@media (max-width: 991px) {
    .menu .searchInput {
        width: 100%;
    }
    .search .result {
        width: 100%;
    }
}
@media (max-width: 768px) {
    header {
        height: 72px;
        padding-top: 10px;
    }
	header .icons {
        display: none;
    }
    header .submenu {
        display: none;
    }
    .menuicon {
        display: block !important;
    }
}
@keyframes side {
    0%{
        right: -100%;
    }
    100%{
        right: 0;
    }
}
/* end header  */



/* start landing  */
.landing {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/images/land.jpg");
    background-size: 100% 100%;
    height: 80vh;
    position: relative;
}
.landing::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
.text {
    font-family: 'Nothing You Could Do', cursive;
    z-index: 2;
    background-color: var(--main-color);
    text-align: center;
    padding: 30px 40px;
    font-size: 30px;
    border: 1px solid black;
    border-radius: 0.25rem;
    color: white;
}
/* end landing  */

/* start products */
.products {
    padding: 50px 0;
}
.products .container {
    display: flex;
    flex-wrap: wrap;
}
.title h1 {
    width: fit-content;
    padding: 20px;
    border: 2px black solid;
    position: relative;
    z-index: 1;
    transition-duration: 0.5s;
    transition-delay: 0.3s;
}
.title h1:hover {
    color:white;
    border: white 2px solid;
}
.title h1:hover::before {
    right: 0;
    top: 0;
    height: 100%;
    width: 52%;
    border-radius: 0;
    z-index: -1;
}
.title h1:hover::after {
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    border-radius: 0;
    z-index: -1;
}
.title h1::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -30px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--main-color);
    transition-duration: 0.5s;
}
.title h1::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--main-color);
    transition-duration: 0.5s;
}
.products .container .showType {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    margin-bottom: 30px;
}
.products .container .type {
    display: flex;
    flex-wrap: nowrap;
} 
.products .container .showType select {
    border: black solid 1px;
    border-width: 0 0 1px;
    background-color: inherit;
    margin-right: 20px;
}
.products .container .showType .type div {
    height: 35px;
    width: 35px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.products .container .showType .type div:hover {
    background-color: #aaaaaa4a;

}
.products .container .showType .type #grid {
    background-color: #aaaaaa4a;
}

.products .container .showType select:focus-visible {
    outline: none;
}
.products .container .all .byDate,
.products .container .all .byName{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
}
@media (max-width: 657px) {
	.type {
		display: none !important;
	}
}

.products .container .box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}
.products .container .leader {
    border: 5px dashed var(--main-color);
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.products .container .leader:hover {
    transform: translateY(-10px);
    transition: .3s;
}
.products .container .pages {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}
.products .container .pages .numbers .buttn {
    display: none;
}
.products .container .pages .numbers .buttn:nth-of-type(3), 
.products .container .pages .numbers .buttn:nth-of-type(2){
    display: block;
}
.products .container .pages .numbers form,
.products .container .pages .numbers {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
}
.products .container .pages .numbers p {
    align-items: center;
}
.products .container .pages .numbers button {
    display: flex;
    text-decoration: none;
    align-items: center;
    color: #aaa;
    background-color: transparent;
    border: none;
}
.products .container .pages .numbers button:hover {
    color: black;
}
.products .container .box .remove{
    background-image: url("/images/delete.svg");
    width: 28px;
    height: 28px;
    margin: 10px;
    padding: 3px;
    display: inline-block;
    position: absolute;
    
    cursor: pointer;
}

.products .container .box .remove:hover {
    border-radius:50% ;
    background-color: #5858587d;
}
.products .container .box .proddet{
    padding: 10px;
}

.products .container .box .addCart,
.proddet .addcart {
    width: 88%;
    padding: 8px 0;
    font-size: 13px;
    height: auto;
    border: 1px solid #fff;
    position: absolute;
    top: 60%;
    right: 6%;
    color: white;
    background-color: var(--main-color);
    display: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.products .container .box .wishheart {
    position: absolute;
    top: 2%;
    left: var(--leftr);
    background-image: url('/images/heart.svg');
    background-size: contain;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.products .container .box:hover {
    box-shadow: 0 2px 4px rgb(45 51 63 / 20%);
	transform: translateY(-10px);
	transition: .3s;
}
.products .container .box:hover .addCart {
    display: inline-flex !important;
}
.products .container .box .avis {
    display: inline-flex;
    align-items: center;
}
.products .container .box .avis .evaluation {
    margin-right: 5px;
}
/* end products */
/* start footer */
footer {
    padding: 50px 0 10px;
    background-color: #4a788d;
}
footer .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}
footer .contact::before {
    content: "";
    position: absolute;
    height: 1px;
    width:35%;
    top: 50%;
    left: 0;
    background-color: white;
}
footer .contact::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 35%;
    left: 65%;
    top: 50%;
    background-color: white;
}

/* smaller  */
@media (max-width: 428px) {
	footer .contact::before {
    display: none;
    }
    footer .contact::after {
        display: none;
    }
}
/* small  */
@media (max-width: 768px) {
	footer .contact::before {
        width: 20%;
    }
	footer .contact::after {
        width: 20%;
        left: 80%;
    }
}
/* medium  */
@media (max-width: 992px) {
	footer .contact::before {
        width: 30%;
    }
	footer .contact::after {
        width: 30%;
        left: 70%;
    }
}

footer .contact .cont div {
    background-repeat: no-repeat;
    width: 25px !important; 
    height: 25px !important;
    cursor: pointer;
    background-size: 25px 25px;
    position: relative;
    
}
footer .contact .cont div::before {
    content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
    border-radius: 50%;
	background-color: #3d3d3d30;
}
footer .contact .cont div:hover::before  {
    background-color: transparent;
}
footer .contact .cont {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: white;
}
footer .copyright {
    margin-top:20px ;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    
}
/* end footer */