<div class="about">
    <div class="container">
        
        <h1>About Us</h1>
        <p>
                just sew is an online shop for ready-made sewing patterns for women, men and children, as well as some accessories such as bags and baby and infant supplies.

                Here you will find ready-made patterns in pdf format ready to be printed and used directly, printed on A4, and also A0 or A2 sheets according to the normal pattern size.  The pattern will be accompanied by a free instruction booklet to make it easy for you to use the pattern and print it from your home easily.
                
                Our patterns are available in sizes from XS to 4XL for adults and from 0 to 14 years for children. 
                
                With the patterns of our store, it will be easy for you to create your own closet from your own hands
        </p>
    </div>
</div>