<div class="inscription">
    <div class="container">
        <h1>Add a new Product !</h1>
        <hr id="aa" style="margin-bottom: 70px;">
        <div class="insContent">
            
            <form action="/addProduct" method="POST">
                <label for="prod">Name</label>
                <input name="name"  id="prod"  type="text" required>
                <label for="size">Size</label>
                <input name="size"  id="size" type="text" required>
                <label for="forms">Forms</label>
                <input name="forms"  id="forms" type="text" required>
                <label for="price">Price</label>
                <input name="price"  id="price" type="text" required> 
                <label for="gender">Gender</label>
                <input name="gender"  id="gender" type="text" required>
                <div class="file-input">
                <h3>Add pictures for your product :</h3>
                <h5>Main picture : </h5>
                <input name="prodCover1" type="file" id="file1" class="file filepond">
                <h5>Optional pictures : </h5>
                <input name="prodCover2" type="file" id="file2" class="file filepond">

                <input name="prodCover3" type="file" id="file3" class="file filepond">

                <input name="prodCover4" type="file" id="file4" class="file filepond">

                <input name="prodCover5" type="file" id="file5" class="file filepond">

                <input name="prodCover6" type="file" id="file6" class="file filepond">

                <input name="prodCover7" type="file" id="file7" class="file filepond">

                <input name="prodCover8" type="file" id="file8" class="file filepond">
                    
                <h5>PDF :</h5>
                <input name="pdf" type="file" id="file9" class="file filepond">
                </div>
                <input id="sub" type="submit" value = "Valider">
            </form>
        </div>
    </div>
</div>

