<!-- start contact -->
<div class="contact">
    <div class="container">
        <div class="content">
            <div class="head">
                <h2>How may we help you ?</h2>
                <p>Have a question ? Let us know and we'll be happy to help!</p>
            </div>
            <form  action="https://formsubmit.co/el/hugeso" method="POST">
                        <label for="email">Adresse e-mail</label>
                        <div class="inp">
                            <input  type="email" placeholder="Email" name="email" required>
                        </div>
                        <div class="colLeft">
                            <label for="nom">Nom</label>
                            <div class="inp">
                                <input id="nom" name="name"  type="text" placeholder="Nom" required>
                            </div>
                        </div>
        
                        <div class="colRight">
                            <label for="preom">Prenom</label>
                            <div class="inp">
                            <input id="prenom" type="text" placeholder="Prenom" name="prenom" required>
                            </div>
                        </div>
                        <label for="description">What can we help you with? </label>
                        <textarea  rows="10" name="description" placeholder="Your message" style="width: 100%;"></textarea>
                    <button class="action submit" type="submit">Submit</button>
        
                </form>
        </div>
    </div>
</div>
<!-- start contact -->