<div class="credit">
    <div class="container">
        <h1>Special Thanks For : </h1>

        <div class="line"> <a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by Freepik - Flaticon</a></div>

        <div class="line"> Heart Icon by Chamestudio </div>

        <div class="line"> <a href="https://iconscout.com/icons/cart" target="_blank">Cart Icon</a> by <a href="https://iconscout.com/contributors/fengquanli">fengquan</a> on <a href="https://iconscout.com">IconScout</a></div>

        <div class="line"> Image by <a href="https://pixabay.com/users/pasja1000-6355831/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5047640">pasja1000</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5047640">Pixabay</a></div>

        <div class="line"> <a href="https://iconscout.com/icons/star" target="_blank">Star Icon</a> by <a href="https://iconscout.com/contributors/bryn-taylor" target="_blank">Bryn Taylor</a></div>

        <div class="line"> <a href="https://iconscout.com/icons/star" target="_blank">Star Icon</a> by <a href="https://iconscout.com/contributors/thehalaldesign" target="_blank">The Halal Design Studio</a></div>

        <div class="line"> <a href='https://www.freepik.com/vectors/invitation-flyer'>Invitation flyer vector created by macrovector - www.freepik.com</a></div>

        <div class="line"> <a href="https://iconscout.com/icons/facebook-logo-2019" target="_blank">Facebook logo 2019 Icon</a> by <a href="https://iconscout.com/contributors/icon-mafia" target="_blank">Icon Mafia</a></div>

        <div class="line"> <a href="https://iconscout.com/icons/instagram" target="_blank">Instagram Icon</a> by <a href="https://iconscout.com/contributors/juraj-sedlak" target="_blank">Juraj Sedlák</a></div>

        <div class="line"> <a href="https://iconscout.com/icons/telegram" target="_blank">Telegram Icon</a> by <a href="https://iconscout.com/contributors/icon-mafia">Icon Mafia</a> on <a href="https://iconscout.com">IconScout</a></div>

        <div class="line"> <a href="https://iconscout.com/icons/twitter" target="_blank">Twitter Icon</a> by <a href="https://iconscout.com/contributors/icon-mafia" target="_blank">Icon Mafia</a></div>

        <div class="line"> <a href='https://www.freepik.com/vectors/sewing-tools'>Sewing tools vector created by macrovector - www.freepik.com</a></div>

        <div class="line"> <a href="https://iconscout.com/icons/grid" target="_blank">Grid Icon</a> on <a href="https://iconscout.com">IconScout</a></div>

        <div class="line"> <a href="https://iconscout.com/icons/list" target="_blank">List Icon</a> by <a href="https://iconscout.com/contributors/feathericons">Feather Icons</a> on <a href="https://iconscout.com">IconScout</a></div>

        <div class="line"> <a href='https://www.freepik.com/vectors/clothes-button'>Clothes button vector created by macrovector - www.freepik.com</a></div>

        <div class="line"> <a href="https://iconscout.com/icons/delete" target="_blank">Delete Icon</a> by <a href="https://iconscout.com/contributors/theiconz">The Icon Z</a> on <a href="https://iconscout.com">IconScout</a></div>

        <div class="line"> <a href="https://iconscout.com/icons/heart" target="_blank">Heart Icon</a> by <a href="https://iconscout.com/contributors/chamedesign" target="_blank">Chamestudio</a> </div>
    </div>
</div>