<div class="account">
    <div class="container acc">

        <form class="n2" action="/login" method="POST">
            
            <h1>Welcome !</h1>

            <label for="email">Email</label>
            <div class="inp">
                <input name = "logemail" type="email" placeholder="Email" required>
            </div>
            <label for="mdp">Password</label>
            <div class="inp">
                <input name = "logpwd" type="password" placeholder="Password" required>
            </div>
            <button class="action login">Sign-in</button>
            <span class="quest">Not a member?</span>
            <button class="signup cnct"> <span class="bold">Join</span> to unlock the best of JustSew.</button>
        </form>
    </div>
</div>
<script>
    let join = document.querySelector(".signup");
        join.onclick = function(e){
            e.preventDefault();
            location.assign("/sign-up");
        }
</script>