<div class="thank">
  <div class="container">
    <img src="/images/mail.png" alt="">
    <h1>Thank You !</h1>
    <p>We've sent the PDF Pattern to your email (check spam).</p>
    <div class="b">
          <button id="but"> <i class="fa-solid fa-arrow-left"></i> Back Home </button>
    </div>
  </div>
  <script src="/javascript/thanks.js"></script>
</div>